<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Gilliard G. Rodrigues">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tela de confirmação</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/006642858d.js"></script>
	</head>
	<body>
		<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
		<div class="container" style="margin-top: 50px">
			<h4><i class="fas fa-check-to-slot"></i> Confirmar candidatos</h4>
			<hr>
			<br>
			<form method="post" action="/confirmarVotos" enctype="multipart/form-data">
				<input type="hidden" id="titulo" name="titulo" th:value="${session.usuarioLogado.tituloEleitor}">
				<div class="row">
					<div th:object="${primeiroSenador}" class="col-md-6 form-group offset-md-3">
						<h3>Primeiro senador</h3>
						<ul th:if="${primeiroSenador ne null}">
							<li>Nome: <span th:text="${primeiroSenador.nome}"></span></li>
							<li>Nº: <span th:text="${primeiroSenador.numero}"></span></li>
							<li>Cargo: <span th:text="${primeiroSenador.cargo.descricao}"></span></li>
							<li>Partido: <span th:text="${primeiroSenador.partido.nome}"></span></li>
						</ul>
						<span th:if="${primeiroSenador eq null}">NULO</span>
					</div>	
				</div>
				<div class="row">
					<div th:object="${segundoSenador}" class="col-md-6 form-group offset-md-3">
						<h3>Segundo senador</h3>
						<ul th:if="${segundoSenador ne null}">
							<li>Nome: <span th:text="${segundoSenador.nome}"></span></li>
							<li>Nº: <span th:text="${segundoSenador.numero}"></span></li>
							<li>Cargo: <span th:text="${segundoSenador.cargo.descricao}"></span></li>
							<li>Partido: <span th:text="${segundoSenador.partido.nome}"></span></li>
						</ul>
						<span th:if="${segundoSenador eq null}">NULO</span>
					</div>	
				</div>
				<div class="row">
					<div th:object="${presidente}" class="col-md-6 form-group offset-md-3">
						<h3>Presidente</h3>
						<ul th:if="${presidente ne null}">
							<li>Nome: <span th:text="${presidente.nome}"></span></li>
							<li>Nº: <span th:text="${presidente.numero}"></span></li>
							<li>Cargo: <span th:text="${presidente.cargo.descricao}"></span></li>
							<li>Partido: <span th:text="${presidente.partido.nome}"></span></li>
						</ul>
						<span th:if="${presidente eq null}">NULO</span>
					</div>	
				</div>
				<div class="row">
					<button id="botao-confirmar-votos" type="submit" class="btn btn-success offset-md-5">CONFIRMAR VOTOS</button>
					&nbsp;&nbsp;&nbsp;
					<a class="btn btn-outline-danger" th:href="@{/painelEleitor}">VOLTAR</a>
				</div>
			</form>
		</div>
		<br>
		<br>
		<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>